*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 80px;
    height: 500px;
    align-items: center;
    justify-content: center;
    top: 150px;
    margin: auto;
}

.inicio{
    position: absolute;
    background-color: blue;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    margin: 30px 0px;
    z-index: 3;
}

.anuncio{
    position: absolute;
    font-weight: bold;
    font-size: x-large;
    left: 15em;
    top: 35em;
}

.invisible{
    opacity: 0;
}

.celdas{
    color: blue;
    position: relative;
    left: 24em;
    top: 28em;
    font-size: x-large;
    z-index: 1;
}

.guiones{
    color: blue;
    position: relative;
    left: 24em;
    top: 27em;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    z-index: 1;
}

.letras{
    background-color: transparent;
    border-color: transparent;
    width: 25em;
    height: 3em;
    position: relative;
    left: 55em;
    top: 30em;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-weight: bold;
}

#label{
    position: relative;
    left: 60em;
    top: 23em;
    font-style: italic;
}

#ahorcado{
    position: absolute;
    left: 5em;
    z-index: 0;
}